@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url("OpenSansCondensed-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'Open Sans Condensed';
	font-display: swap;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/OpenSansCondensed-bold.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
    height: 100%;
	background: none
}
body {
	min-height: 100vh;
	color: #57585c;
	--text-color: #fff;
	--background-color: #212121;
	--background-color-2: rgba(255,0,0,.2);
	--link-color: #03b9f1;
	--link-hover-color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	color: #fff;
	color: var(--text-color);
	background-color: #1d1b22;
	background-color: var(--background-color);
	
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
* {
font-family: Open Sans Condensed, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:focus {
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
}
.siteHead-logoMark {
    height: 13px;
    width: 24px;
    position: relative;
    top: 2px;
    fill: currentColor;
}
.site-name {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.26em;
    font-weight: 800;
    padding-top: 2.9vmin;
    text-align: center;
    font-family: Open Sans Condensed, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    z-index: 1;
    top: 2px;
    position: relative;
    color: #a5acbb;
}
@media all and (max-width: 520px) {
    .site-name {
    font-size: 10px;
}
}.siteLogoLink {
    color: inherit;
}
.siteLogoLink:hover {
    color: inherit;
}
.site-name-post {
    color: #fff;
}
.site-name-link {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    transform: translateZ(0);
    position: relative;
    color: inherit;
}
.site-name-link:hover {
    color: inherit;
}
.site-name-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s cubic-bezier(0.19,  1,  0.22,  1) 0s;
}
.site-name-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.site-name-link-parent {
    border-right: 1px solid currentColor;
    margin-right: 6px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0.8;
}
.site-name-link-parent:hover {
    opacity: 0.99;
}
.site-name-link-parent-inverted {
    color: #ccc;
}
.site-name-link-parent-inverted:hover {
    color: #fff;
}
.site-name-link-parent-inverted::before {
    background-color: #fff;
}
.ampersand {
    
    font-style: italic;
}
.single-page-header {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.3em;
}
.text-highlighted {
    color: #ca6055;
}
.wrapper {
    position: relative;
    margin: 0 auto;
}
.button-clear {
    border: none;
    background-color: transparent;
}
.button-clear:focus {
    outline: 0;
}
.text-pink {
    color: #e8c3b9;
}
.text-pink::after {
    background-color: #e8c3b9;
}
.text-darkgreen {
    color: #244a53;
}
.text-darkgreen::after {
    background-color: #244a53;
}
.text-red {
    color: #bf615e;
}
.text-red::after {
    background-color: #bf615e;
}
.text-lightblue {
    color: #99bec7;
}
.text-lightblue::after {
    background-color: #99bec7;
}
.text-darkblue {
    color: #2b2f3c;
}
.text-darkblue::after {
    background-color: #2b2f3c;
}
.site-nav-canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.menu {
    position: fixed;
    top: 2.7vmin;
    left: 2.8vmin;
    z-index: 20003;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    width: 43px;
    padding: 10px;
    cursor: pointer;
}
.menu-hidden {
    visibility: hidden;
    pointer-events: none;
}
.menu-icon-line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #a5acbc;
    margin-bottom: 4px;
    border-radius: 2px;
    transition: transform 0.3s cubic-bezier(0.175,  0.885,  0.32,  1.275), opacity 0.2s ease-out;
    transform: translateZ(0);
}
.menu:hover>.menu-icon-line {
    background-color: #676d77;
    transform: scaleX(1.2);
}
.menu-active>.menu-icon-line-1, .menu-active:hover>.menu-icon-line-1 {
    transform: translateY(6px) rotateZ(-135deg);
    background-color: #fff;
}
.menu-active>.menu-icon-line-2, .menu-active:hover>.menu-icon-line-2 {
    opacity: 0;
    background-color: #fff;
}
.menu-active>.menu-icon-line-3, .menu-active:hover>.menu-icon-line-3 {
    transform: translateY(-6px) rotateZ(135deg);
    background-color: #fff;
}
.site-search {
    position: absolute;
    top: 2vmin;
    right: 3vmin;
    z-index: 20003;
    padding: 10px 5px;
    cursor: pointer;
}
.site-search-icon {
    display: block;
    transition: opacity 0.2s ease-out;
}
.site-search-icon:hover .site-search-icon-circle {
    stroke: #8591ac;
}
.site-search-icon:hover .site-search-icon-line {
    fill: #8591ac;
}
.site-search-icon-circle {
    stroke: #a5acbc;
}
.site-search-icon-line {
    fill: #a5acbc;
}
.site-search-close-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.site-search-close-icon-line {
    position: absolute;
    height: 2px;
    width: 70%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
    top: 40%;
    margin: auto;
    transform: rotateZ(45deg) scale(0.8);
    opacity: 1;
}
.site-search-content-results {
    text-align: left;
}
.site-search-results-item {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    font-size: 42px;
    display: block;
    padding: 40px;
    line-height: 1.4em;
    text-overflow: ellipsis;
    overflow: hidden;
}
.site-search-results-item:hover {
    color: inherit;
}
@media (max-width: 700px) {
    .site-search-results-item {
    font-size: 6vw;
    padding: 20px;
}
}.site-search-results-item-active {
    color: inherit;
    background-color: rgba(255, 255, 255, 0.1);
}
.site-search-results-item-desc {
    font-size: 14px;
    display: block;
    font-weight: 400;
    padding: 10px 0;
    max-width: 500px;
    line-height: 1.4em;
}
.site-search-content {
    margin: 20px auto;
    padding: 0 20px;
    width: 80%;
    max-width: 1200px;
}
@media (max-width: 700px) {
    .site-search-content {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
}
}.siteSearchInput {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    display: block;
    font-size: 24px;
    width: 100%;
    padding: 20px 20px 20px 0;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    opacity: 0;
}
.siteSearchInput::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 700px) {
    .siteSearchInput {
    font-size: 4vw;
    padding: 15px 15px 15px 20px;
}
}.site-nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2003;
    text-align: center;
    font-size: 40px;
    font-family: Open Sans Condensed, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: bold;
    opacity: 0;
    color: #fff;
    pointer-events: none;
    overflow: hidden;
}
.site-nav-overlay-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2002;
    text-align: left;
    font-family: Inter, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
    opacity: 0;
    color: #fff;
    pointer-events: none;
    overflow: scroll;
}
.site-nav-active {
    pointer-events: initial;
}
.nav-content {
    width: 620px;
    max-width: 100%;
    margin: 40px auto;
    margin-top: 18vh;
    padding: 0 60px;
    box-sizing: border-box;
}
@media all and (max-width: 600px) {
    .nav-content {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 32px;
}
}@media all and (max-height: 720px) {
    .nav-content {
    margin-top: 15vh;
    font-size: 32px;
}
}@media all and (max-height: 600px) {
    .nav-content {
    margin-top: 10vh;
}
}@media all and (max-height: 500px) {
    .nav-content {
    margin-top: 14vh;
}
}
@media all and (max-height: 480px) {
    .nav-content {
    margin-top: 14vh;
}
}
.nav-header {
    width: 100%;
    margin: 0 auto;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-weight: bold;
    position: relative;
    transform: translateZ(0);
}
.nav-header-line {
    display: block;
    height: 2px;
    width: 100%;
    z-index: -1;
    background-color: #fff;
    position: absolute;
    top: 10px;
    transform: scaleX(.3);
}
.nav-header-text {
    padding: 0 10px;
    z-index: 1;
    position: relative;
    background-color: #212121;
}
.nav-categories {
    padding: 20px 0 30px;
    list-style-type: none;
    overflow: hidden;
    margin: 0 auto;
    transform: translateZ(0);
}
.nav-category {
    padding: 0;
    position: relative;
    display: block;
}
.nav-link {
    display: inline-block;
    color: inherit;
    padding: 27px 20px 30px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
    transform: translateZ(0);
}
.nav-link:hover {
    color: #313131;
}
.nav-link:hover::after {
    transform: scaleY(1);
}
.nav-link::after {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: 0 100%;
    transition: all 0.25s ease-in-out;
    z-index: -1;
}
@media all and (max-height: 720px) {
    .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
}
}@media all and (max-height: 550px) {
    .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
}
}@media all and (max-height: 450px) {
    .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
}
}.nav-sublinks {
    font-size: 0.4em;
    color: #777;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid #656565;
    border-bottom: 2px solid #656565;
    width: 100%;
    text-align: center;
}
@media all and (max-height: 550px) {
    .nav-sublinks {
    padding-top: 20px;
    padding-bottom: 20px;
}
}@media all and (max-height: 450px) {
    .nav-sublinks {
    padding-top: 10px;
    padding-bottom: 10px;
}
}.nav-sublink {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;
    width: 32%;
    vertical-align: middle;
}
.nav-sublink:hover {
    color: #fff;
}
.nav-sublink::after {
    background-color: #313131;
}
.no-scroll {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%}

.footer-more-projects {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 120px;
}
@media (max-width: 480px) {
    .footer-more-projects {
    padding-top: 60px;
    padding-bottom: 80px;
}
}.collection-footer-info {
    padding-top: 80px;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding-bottom: 80px;
}
.collection-footer-box {
    width: 400px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    max-width: 90%}
.collection-footer-profile p {
    color: #adadad;
}
@media (max-width: 420px) {
    .collection-footer-profile {
    text-align: center;
}
}.collection-inline-header-w-subheader {
    margin-bottom: 5px;
}
.collection-profile-image {
    float: left;
    padding-top: 8px;
    padding-bottom: 40px;
    margin-right: 20px;
}
@media (max-width: 420px) {
    .collection-profile-image {
    display: block;
    float: none;
    margin: 0 auto;
    padding-bottom: 0;
}
}.collection-footer-divider {
    height: 80px;
    width: 1px;
    background-color: #000;
    margin: 25px 40px 0;
    display: inline-block;
    vertical-align: top;
}
@media (max-width: 940px) {
    .collection-footer-divider {
    display: none;
}
}.collection-project {
    border-radius: 4px;
    color: #fff;
    position: relative;
    text-align: left;
    display: inline-block;
    margin: 30px 5px 0;
    padding: 40px 30px;
    width: 50%;
    max-width: 310px;
    box-sizing: border-box;
    transition: background-color 0.3s ease-out;
}
.collection-project:hover {
    color: #fff;
}
@media (max-width: 940px) {
    .collection-project {
    display: block;
    margin: 24px auto;
    width: 96%}
.collection-project+.collection-project {
    margin-left: auto;
    margin-right: auto;
}
.sk-more-projects .collection-project {
    padding: 20px 10px;
}
}.collection-project-spinkit {
    background-color: #c1605c;
}
.collection-project-spinkit:hover {
    background-color: #ba4e4a;
}
.collection-project-preview {
    position: absolute;
    left: 32px;
    top: 0;
    bottom: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
@media (max-width: 940px) {
    .sk-more-projects .collection-project-preview {
    left: 16px;
}
}.collection-project-preview-spinkit {
    width: 40px;
    height: 40px;
    background-color: #fff;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.collection-project-typesource {
    background-color: #47a0dc;
}
.collection-project-typesource:hover {
    background-color: #3295d8;
}
.typesource .collection-project-typesource {
    display: none;
}
.collection-project-preview-typesource {
    width: 30px;
    height: 26px;
    padding: 12px 10px;
    border: solid 2px rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}
.collection-project-moving-letters {
    background-color: #9ba5b5;
}
.collection-project-moving-letters:hover {
    background-color: #8c98aa;
}
.moving-letters .collection-project-moving-letters {
    display: none;
}
.collection-project-preview-moving-letters {
    width: 30px;
    height: 26px;
    padding: 12px 10px;
    border: solid 2px rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}
.collection-project-header {
    padding-left: 70px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 22px;
}
@media (max-width: 940px) {
    .sk-more-projects .collection-project-header {
    font-size: 18px;
}
}.collection-project-description {
    padding-left: 70px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 6px;
    margin-bottom: 10px;
    line-height: 1.2em;
}
@-webkit-keyframes sk-rotateplane {
    0% {
    -webkit-transform: perspective(120px);
}
50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
}
100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
}
}@keyframes sk-rotateplane {
    0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
}
50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
}
100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
}
}
html {
    margin: 0;
    padding: 0;
    height: 100%}
.is-showing-source {
    overflow: hidden;
}
.is-showing-source .collection-project-preview-spinkit {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.is-showing-source .collection-project-preview {
    visibility: hidden;
}
body {
    background-color: #1a1a1a;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 13px;
    line-height: 1.5em;
    text-align: center;
    position: relative;
    height: 100%}
@media (max-width: 480px) {
    .compositions {
    font-size: 10px;
}
}a {
    text-decoration: none;
    color: inherit;
}
.menu {
    transform: translateZ(100px);
    top: 12px;
    left: 10px;
}
.nav {
    transform: translateZ(100px);
}
.header {
    padding: 20px 0;
	
}
.header-title {
    margin:0;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #9ba5b5;
    cursor: default;
}
.header-title .letter {
    display: inline-block;
    transform-origin: 50% 50%}
@media (max-width: 480px) {
    .header-title {
    font-size: 11px;
}
}.header-link {
    position: absolute;
    top: 17px;
    right: 15px;
}
.twitter-icon-svg {
    height: 22px;
    width: 30px;
    fill: #676d77;
}
.compositions {
    display: flex;
    flex-flow: row wrap;
}
.composition {
    color: #fff;
    flex: 1 50%;
    height: 500px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.composition h1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0.5em;
    left: 0;
    margin: auto;
    height: 1em;
}
.composition:hover .composition-hint {
    opacity: 1;
}
@media (max-width: 940px) {
    .composition {
    flex: 1 100%}
}@media (max-height: 570px) {
    .composition {
    height: 420px;
}
}.composition-hint {
    font-weight: 400;
    padding-bottom: 20px;
    display: inline-block;
    opacity: 0;
    transform: translateZ(0);
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.composition-hint-arrows {
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.composition-wrapper {
    transform: translateZ(0);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.composition-active {
    width: 50%;
    right: auto;
    left: 0;
    z-index: 3000;
    position: fixed;
}
@media (max-width: 940px) {
    .composition-active {
    width: 100%;
    height: 480px;
}
}.compositions-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    z-index: 2000;
    display: none;
}
.composition-source {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 3001;
    display: none;
    text-align: left;
    color: #000;
    box-sizing: border-box;
    overflow-y: scroll;
    padding-left: 50%}
@media (max-width: 480px) {
    .composition-source {
    -webkit-overflow-scrolling: touch;
}
}@media (max-width: 940px) {
    .composition-source {
    padding-left: 0;
    padding-top: 500px;
    margin-top: 0;
}
}@media (max-height: 570px) and (max-width: 940px) {
    .composition-source {
    padding-top: 430px;
}
}.composition-source-container {
    background-color: #fff;
    transform-origin: 100% 0;
    padding-bottom: 20px;
    overflow-x: hidden;
    padding-bottom: 20px;
    overflow-x: hidden;
    padding-top: 100px;
    margin-top: -120px;
    min-height: 100vh;
}
@media (max-width: 940px) {
    .composition-source-container {
    padding-top: 0;
    margin-top: 0;
}
}@media (max-width: 480px) {
    .composition-source-container {
    padding-top: 20px;
}
}.composition-source-header {
    font-size: 86px;
    font-weight: 800;
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 1em;
    padding-left: 40px;
}
@media (max-width: 940px) {
    .composition-source-header {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 54px;
}
}@media (max-width: 480px) {
    .composition-source-header {
    display: none;
}
}.composition-source-subheader {
    font-size: 13px;
    letter-spacing: 0.2em;
    color: #adadad;
    text-transform: uppercase;
    padding-left: 40px;
}
.composition-source-code {
    border: 0;
    cursor: text;
    font: 14px Consolas,  "Courier New",  Courier,  monospace;
    outline: 0;
    resize: none;
}
.highlight {
    background-color: #f4f4f6;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 2em 2em 2em 40px;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 2em;
    line-height: 1.5em;
    box-sizing: border-box;
}
@media (max-width: 480px) {
    .highlight {
    overflow-x: auto;
    overflow-wrap: break-word;
}
}.hidden {
    display: none;
}
.composition-back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3002;
    display: none;
    -webkit-tap-highlight-color: transparent;
}
.composition-back-image {
    width: 51px;
    height: 51px;
}
@media (max-width: 940px) {
    .composition-back-button {
    position: absolute;
}
}.collection-inline-header {
    font-weight: 200;
}
@media (max-width: 420px) {
    .collection-inline-header {
    text-align: center;
}
}

/* SVG Morph */
.morph-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
    z-index:-5
}

.morph {
	position: relative;
	height: 100%;
	fill: var(--background-color-2);
	flex: none;
}
.intro-trans {
	z-index:20003;
	position: fixed;
    top:0;
	right:0;
	left:0;
	width:100%;
}
.content__inner {
	width: 100%;
	height: 100vh;
    position:relative;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.intro-trans .content__inner {
	background: url(../img/d.webp) 0 0 no-repeat, #171717;
	background-size: 100% 50%;
}
.intro-trans .intro__subtitle {
	position:relative;
	z-index:4;
    color: #313131;
}
.intro-trans .intro__subtitle::before {
	z-index:-2;
	display:block;
	content:"";
    height:20px;
    background:#fff;
    position: absolute;
	top:0;
	left:-20px;
	right:-20px
}
.intro-trans .intro__subtitle::after {
    z-index:-1;
	display:block;
	content:"";
    height:2px;
    background:#fff;
    position: absolute;
	top:9px;
	left:-90px;
	right:-90px
}
.intro-trans .enter {
	display:block;
	padding:8px 20px;
	border-radius:20px 0 20px 0;
	border: 2px solid rgba(255,250,250,.5);
}

.shape-wrap {
	position: relative;
	z-index: 10;
	margin: -5px 0 0 0; /* Hide the gap */
}

.shape {
	height: 100vh;
	width: 100%;
	display: block;
	fill: #171717;
}

.content__title {
	font: var(--font-alt);
	color: var(--color-title);
	margin: 0;
	line-height: 1;
}

.content__title--filled {
	background: brown;
	padding: 0.25em 0.5em;
}

.content__title span {
	display: inline-block;
}

.content__subtitle {
	font: var(--font-alt);
	font-size: 1.5em;
	color: #fff;
	padding: 0.5em 0 0 0;
	margin: 0;
}

.content__text {
	font-size: 1.85em;
	max-width: 800px;
	text-align: left;
}

.content__text a {
	color: var(--color-menu-item);
}

.content__text a:hover, 
.content__text a:focus {
	color: var(--color-menu-item-hover);
}
.uncover {
	overflow: hidden;
	background-image: none !important;
	position: relative;
}
.uncover__img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}
.uncover__slices {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
}

.uncover__slices--vertical {
	flex-direction: row;
}

.uncover__slices--horizontal {
	flex-direction: column;
}

.uncover__slices--horizontal-double {
	display: grid;
	grid-template-columns: 50% 50%;
}

.uncover__slices--vertical-double {
	display: grid;
	grid-template-rows: 50% 50%;
}

.uncover__slice {
	color: #fff;
	background-color: currentColor;
	flex: 1;
}

.uncover__slices--vertical .uncover__slice {
	box-shadow: 1px 0 0 currentColor;
}

.uncover__slices--horizontal .uncover__slice {
	box-shadow: 0 1px 0 currentColor;
}
/* CARD */

.card {
	position: relative;
	float: left;
	width: 29%;
	height: 0;
	margin: 2%;
	padding-bottom: 20%;
}

.card__container {
	position: fixed;
	top: 60px;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	/* prevents flicker */
	-webkit-overflow-scrolling: touch;
}

.card__container--closed {
	position: absolute;
	overflow: hidden;
}

.card__image {
	position: relative;
	left: 50%;
	display: block;
	height: 100%;
	max-height: 500px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.card__container--closed .card__image {
	cursor: pointer;
}

.card__content {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 30px 40px 22px;
	color: #fff;
    text-align: left;
	background: #131313;
	font-family: "Open Sans Condensed";	
}

.card__container--closed .card__content {
	margin-top: 0;
	padding: 5px 16px;
	pointer-events: none;
	background: transparent;
}

.card__caption {
    font-family: "Open Sans Condensed";
	font-size: 2em;
	max-width: 900px;
	margin: 0 auto;
	padding: 35px 30px 0px;
}

.card__container--closed .card__caption {
	font-size: 1em;
	max-width: none;
	padding: 30px 10px;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.card__title {
	font-size: 1.5em;
	line-height: 1;
	margin: 5px 0 0 0;
	color: #fff;
}

.card__container--closed .card__title {
	color: #fff;
}

.card__subtitle {
	font-size: .95em;
	line-height: 1;
	margin: 5px 0 0;
	color: #fff;
}

.card__container--closed .card__subtitle {
	color: #fff;
}

.card__copy {
    font-family: "Open Sans Condensed";
	font-size: 1.25em;
	max-width: 900px;
	margin: 0 auto;
	padding: 25px 30px 100px;
	color: #fff;
}

.card__copy p:first-of-type {
	font-size: 1.5em;
	padding: 0 0 1em 0;
}

.card__btn-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	cursor: pointer;
}
.card__btn-close svg {
	width: 64px;
	height: 64px;
}
.card__btn-close path {
	fill: #ffffff;
}

.card__container--closed .card__btn-close {
	display: none;
}

.meta {
	font-size: .85em;
	display: -webkit-flex;
	display: flex;
	padding: 0 0 35px 0;
	-webkit-align-items: center;
	align-items: center;
}

.card__container--closed .meta {
	visibility: hidden;
}

.meta__avatar {
	border-radius: 50%;
}

.meta__author {
	font-weight: bold;
	padding: 0 15px;
}

.meta__date {
	margin: 0 0 0 auto;
}

@media only screen and (max-width: 980px) {
	.card {
		width: 46%;
		padding-bottom: 32.2%;
	}
	.card__image {
		max-height: 360px;
	}
	.card__content {
		margin-bottom: 0;
		padding-right: 20px;
		padding-left: 20px;
	}
}

@media only screen and (max-width: 580px) {
	.card {
		width: 96%;
		padding-bottom: 67.2%;
	}
}

@media only screen and (max-width: 400px) {
	.card__caption {
		font-size: 1.25em;
		padding: 35px 0px 0px;
	}
	.meta {
		padding: 0 0 25px 0;
	}
	.card__copy {
		font-size: 90%;
		padding: 25px 0px 100px;
	}
}


/* Content */

.my__card{
    position:relative;
	padding: 1em 0 4em;
}
/* Related demos */


.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.media-item__img {
	max-width: 100%;
	opacity: .3;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-size: 1em;
	margin: 0;
	padding: .5em;
}

/* cards wrapper and close btn */

.wrapper {
	overflow: auto;
	width: 95%;
	max-width: 1366px;
	margin: 0 auto;
}
/* PATTERN */

.pattern {
	position: fixed;
	z-index: -1;
	top: 10%;
	left: 0;
	width: 100%;
	height: 100%;
}

.pattern--hidden {
	visibility: hidden;
	opacity: 0;
}

.pattern--hidden .polygon {
	transition-duration: 0ms;
}

.pattern svg {
	width: 100%;
	height: 100%;
}

.polygon {
	transition: -webkit-transform 300ms ease-in-out, opacity 300ms ease-in-out;
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	fill: transparent;
}

.polygon--hidden {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
/* disable scale on firefox */

.ff .polygon {
	-webkit-transform: scale(1)!important;
	transform: scale(1)!important;
}




