@font-face {
	font-family: 'Delogy';
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/Delogy-Regular.ttf) format('TrueType');
}
@font-face {
	font-family: 'Fjalla One';
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/FjallaOne-Regular.ttf) format('TrueType');
}
@font-face {
	font-family: 'Taller';
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/taller.ttf) format('TrueType');
}
@font-face {
	font-family: 'Taller Evo';
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/taller-evo.otf) format('TrueType');
}
@font-face {
	font-family: 'Taller Light';
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/taller-light.ttf) format('TrueType');
}
@font-face {
	font-family: 'Mixal';
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/Mixal-Bold.otf) format('OpenType');
}
:root {
	--white-color: #fff;
	--black-color: #000;
	--fjalla: "Fjalla One", sans-serif;
	--mixal: "Mixal", sans-serif;
	--taller-light: "Taller Light", sans-serif;
	--taller-evo: "Taller evo", sans-serif;
	--roboto: "Roboto", sans-serif;
	--taller: "Taller", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  line-hieight: normal;
  box-sizing: border-box;
}

ul {
  list-style: none;
}


body{
background: #000000;
height: 100vh;
overflow: scroll;
}


/* ---- Main Header ---- */

.main__header, .main__content {
  width:100%;
  overflow-x: hidden;
  
}
.main__header .flex-nav {
 border-bottom: 1px solid #fff;
 position: absolute;
 top:0;
 left: 0;
 right: 0;
 display: flex;
 height: 60px;
 z-index: 10;
 padding-left: 1.7rem;
 background: none;
 mix-blend-mode: difference;
}
.main__header .flex-nav:hover {
	background: yellow;
}
.main__header .flex-nav ul{
 display: flex;
 padding: 0.50rem 4rem 1.5rem 8rem;
}
.main__header .flex-nav ul li {
  display: inline-block;
  margin-right:8px;
  padding: 0 2rem 0 0;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--white-color);
  text-stroke: 1px blue;
  font-style: italic;
  font-size: 2rem;
  font-family: var(--fjalla);
  position:  relative;
  z-index: 2;
	cursor: pointer;
}
.main__header .flex-nav ul li:after {
 content: attr(data-text);
 display: block;
 position: absolute;
 top:5px;
 -webkit-text-stroke: initial;
 text-stroke: initial;
 -webkit-text-fill-color: initial;
 left:12px;
 z-index:-1;
 cursor: pointer;
 color: #666;
 transition: 0.5s;
}
.main__header .flex-nav ul li:hover:after {
 left:0;
 transform: perspective(500px) translateX(10rem);
 font-size: 600px;
 z-index: 1000;
 bottom: 12px;
 right: 110%;
 color: red;
 box-shadow: 0 0 15px rgba(255,0,0,.4);
 transition-delay: 0.5s;
}
.main__header .flex-nav ul li a {
	cursor: pointer;
  color: var(--white-color);
  text-decoration: none;
  mix-blend-mode: difference;
}
.main__header .flex-nav ul li a:hover {
	text-shadow: 0 0 15px rgba(255,0,0,.4);
}
.main__section {
  padding: 4rem 0rem 0rem 0rem;
  position: relative;
  overflow-x:hidden
}


.ez__lock {
	margin-left: 4rem;
	position: relative;
}
.ez__lock .locks {
	position: absolute;
	top: 0;
	font-family: var(--mixal);
	font-size: 10rem;
	white-space: nowrap;
	color: #FEF51D;
	mix-blend-mode: difference;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px var(--white-color);
	z-index: -1;
}

.ez__lock .locks:nth-child(odd) {
	top: 3rem;
	left: 4rem;
	z-index: -1;
	mix-blend-mode: difference;
	-webkit-text-fill-color: initial;
	-webkit-text-stroke: initial;
}



.my__intro {
  border-left: 1px solid #fff;
  width: 100%;
  padding-left: 0.15rem;
  padding-top: 60px;
  margin-left: 1rem;
  margin-bottom: 8rem;
  overflow:hidden;
  min-height: 618px;
  position: relative;
  display: flex;
  flex-flow: wrap;
  gap: 4rem;
  transition: transform 0s linear;
}
.my__intro h2.title{
	white-space: nowrap;
	padding-top: 2rem;
	padding-left: 4rem;
}
.my__intro .left .snippet {
	margin: 1rem 1rem 1rem 4rem;
	color: transparent;
    -webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px var(--white-color);
	font-family: var(--fjalla);
	font-weight:bold;
    text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 39px;
	text-align:justify;
}
.my__intro .left {
	position: relative;
	width: 40%;

}
.my__intro .right {
	position: relative;
	background: linear-gradient(
45deg, #0D2EFD, transparent
), url(../img/bg.jpg) no-repeat 0 0;
 	background-size: cover, contain;
	margin-top: -4rem;
	margin-left: -4rem;
	width: 400px;
	height: 500px;
	perspective: 1000px;
	transform: rotate(45deg);
	mix-blend-mode: screen;
	transition: transform 0.5s;
}

.my__intro .right:hover {
	
	transform: rotate(345deg) translateX(-105px);
}
.my__intro .right .snippet {
    padding-left:0;
    margin-top: 6rem;
	padding-right: 1rem;
    text-align: right;
	color: var(--white-color);
    position: absolute;
    bottom: 0;
	left:0;
	padding: 2rem;
	font-family: var(--fjalla);
	font-weight:300;
	font-size: 18px;
}

.my__intro .title {
	-webkit-text-fill-color: initial;
	-webkit-text-stroke: initial;
	text-stroke: initial;
	color: yellow;
	mix-blend-mode: screen;
    font-size: 200px;
	font-family: var(--mixal);
}

.my__intro .font__change {
	-webkit-text-fill-color: initial;
	-webkit-text-stroke: initial;
	text-stroke: initial;
	color: #1141FE;
	cursor: pointer;
	mix-blend-mode: screen;
    font-size: 400px;
	margin-right: 2rem;
	font-family: var(--mixal);
	transition: 0.5s;
}
.my__intro .font__change:hover{
	cursor: pointer;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 4px #fff;
	text-stroke: 6px #fff;
	color: yellow;
	mix-blend-mode: screen;
	transition-delay: 0.2s;
}


.scroll-area {
      width: 100%;
      height: 700vh;
    }

   .animation-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
	  z-index:-100;
		mix-blend-mode: difference
    }

    .pane {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 100vh;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: transparent
	  
    }

.anim__text {
position: absolute;
top:0;
left:0;
right:0;
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
z-index:-1;
mix-blend-mode: difference;
}
 .text {
font-family: var(--fjalla);
position: absolute;
top:150px;
color: var(--white-color);
z-index: 1;
mix-blend-mode: multiply;
user-select: none;
pointer-events: none;
animation: spincoy 7.5s linear infinite;
}

.text .legion{
text-shadow: 0 0 15px blue,0 0 20px blue,0 0 25px blue
;
position: absolute;
top: 100px;
font-size: 2rem;
text-transform: uppercase;
display: inline-block;
transform-origin: 0 -100px;
}
@keyframes spincoy {
0%{
transform: rotate(0deg);
}
100%{
transform: rotate(360deg);
}
}
.ez__swoosh{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  height: 100%;
  z-index: 10000;
  mix-blend-mode: initial;
  background: repeating-radial-gradient(
	circle at 100% 0,
	black,
	black 10px,
	#680000 10px,
	#680000 20px

);
}
.section__intro:nth-child(even) .date{
	font-size: 15rem;
	font-family: var(--taller-evo);
	position: absolute;
    bottom: 0;
	right: auto;
	left: 2rem;
}
.section__intro .date{
	font-size: 15rem;
	font-family: var(--taller-evo);
	position: absolute;
    bottom: 0;
	right: 2rem;
	z-index: -1;
	color: #fff;
}
.section__intro {
  mix-blend-mode: screen;
  width: 100%;
  padding: 0rem 4rem 0rem 4rem;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  text-align: right;
  transition: transform 0s linear;
}

.section__intro:nth-child(even){
	text-align: left;
}

.section__intro:nth-child(even) .thumb{
  position: absolute;
  top: 0;
  left: auto;
  right:4rem;
}
.section__intro:nth-child(even) .thumb .thumbnail{
  width: 400px;
  height:400px;
}
.section__intro:nth-child(even) .thumb:after{
	mix-blend-mode: difference;
	position: absolute;
	top:0;
	left: auto;
	right:4rem;
	display:block;
	width:600px;
	height:500px;
	content:'';
	background: repeating-linear-gradient(
	45deg,
	black,
	black 10px,
	purple 10px,
	purple 20px

);
	opacity: 0.5;
}
.section__intro .thumb:after{
	mix-blend-mode: difference;
	position: absolute;
	top:0;
	left:4rem;
	right:auto;
	display:block;
	width:600px;
	height:500px;
	content:'';
	background: repeating-linear-gradient(
	135deg,
	black,
	black 10px,
	yellow 10px,
	yellow 20px
);

	opacity: 0.5
}
.section__intro .thumb{
  position: absolute;
  top: 0;
  left:4rem;
  z-index: -2
}
.section__intro .thumb .thumbnail{
  width: 400px;
  height:400px;
}

.section__intro h2 {
  mix-blend-mode: difference;
  position: relative;
  padding-top: 2rem;
  margin-top: 2rem;
  margin-right:0;
  font-family: var(--mixal);
  font-weight: bold;
  font-size: 180px;
  letter-spacing: 1px;
  color: #8bff07
}
.section__intro:nth-child(even) p {
    padding-right: 0rem;
	padding-left: 8rem;
}
.section__intro p {
    padding-right: 8rem;
	mix-blend-mode: difference;
	font-family: var(--fjalla);
	color: var(--white-color);
}
.main__content-tagline {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	position: absolute;
	z-index: 1;
	top:0;
	left: auto;
	right: 0px;
	width: 60px;
	height: 678px;
	color: var(--white-color);
    transition: 0s linear;
    writing-mode: vertical-lr;
	mix-blend-mode: screen;
} 
.main__content-tagline h2 {
    text-transform: uppercase;
    font-family: var(--fjalla);
	font-weight: 300
}
.main__content-tagline:after {
  content: "";
  display: block;
  margin: 0 auto;
  width:2px;
  height: 90px;
  background: #f7e0b5;
}
.main__content-tagline:before {
  content: "";
  display: block;
  margin: 0 auto;
  width:2px;
  height: 90px;
  background: #f7e0b5;
}

/* preloader */
.preloader {
position: fixed;
z-index: 10000;
top:0;
bottom:0;
left:0;
right:0;
width:100%;
height:100%;
display: flex;
align-items: center;
justify-content: center;
background: #0F000C
}
.mainBox {
width: 100%;
height: 400px;
display: flex;
align-items: center;
justify-content: center;
}
.myText{
width:100vw;
position: relative;
padding: 4rem 0rem;
display: flex;
align-items: center;
justify-content: center;
}
 .myText .text-wrapper{
 width:100%;
 height: 500px;
 position:relative;
 white-space: nowrap;
 display: inline-block;
 overflow: hidden;
 padding: 1rem 0rem 1.7rem;
 text-align: center;
}
 .myText .letter {
 font-family: var(--taller-evo);
 -webkit-transform-origin: 0 100%;
 transform-origin: 0 100%;
 display: inline-block;
 line-height: 15rem;
 padding: 0px;
 font-size: 15rem;
 letter-spacing: 0.1rem;
 color: #fff;
 -webkit-box-reflect: below 2px linear-gradient(to bottom, #fff, transparent);
}
/*____________________________________________________________
## Popup menu
____________________________________________________________*/
 .navWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  pointer-events: none;
} 
.popupMenu {
  width: 100%;
  height: 100vh;
  position:absolute;
  pointer-events: none;
}

.popupMenu__nav {
  position: absolute;
  background: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
}

.popupMenu__link {
  text-decoration: none;
  font-family: var(--mixal);
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: var(--white-color);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 15px #0BABFF;
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
  cursor: pointer;
  
}
.popupMenu__link:last-child {
  margin-bottom: 0px;
}
.popupMenu__link:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -101%;
  width: 100%;
  height: 100%;
  background: var(--white-color);
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.popupMenu__link:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 101%;
  width: 100%;
  height: 2px;
  text-shadow: 0px 0px 15px #0BABFF;
  background: #0babff;
  transition: all 0.3s;
  transition-delay: 0.4s;
}

.popupMenu__link:hover:before {
  left: 100%;
}
.popupMenu__link:hover:after {
  left: 0;
}

.popupMenu__link {
  transform: rotate(45deg);
  opacity: 0;
  transition: transform 0s 0.6s, opacity 0s 0.6s;
}

.js-popupMenu_open {
  pointer-events: visible;
}
.js-popupMenu_open .popupMenu__link {
  opacity: 1;
  transform: rotate(340deg);
  transition: transform 1s 0.3s, opacity 1s 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.2, 1);
}
.js-popupMenu_open .popupMenu__link:nth-child(2) {
  transition-delay: 0.35s;
}
.js-popupMenu_open .popupMenu__link:nth-child(3) {
  transition-delay: 0.4s;
}
.js-popupMenu_open .popupMenu__link:nth-child(4) {
  transition-delay: 0.45s;
}
.js-popupMenu_open .popupMenu__link:nth-child(5) {
  transition-delay: 0.5s;
}
.js-popupMenu_open .popupMenu__link:nth-child(6) {
  transition-delay: 0.55s;
}

.burgerWrap {
  position: absolute;
  top: 1rem;
  right: .5rem;
  width: 30px;
  height: 30px;
  z-index: 151;
}

.burgerWrap__box {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.strokeWrap__stroke {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -35;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strokeWrap__stroke_first,
.strokeWrap__stroke_third {
  --total-length: 126.64183044433594;
}

.strokeWrap__stroke_second {
  --total-length: 70;
}

.burgerInput {
  display: none;
}
.burgerInput:checked + .strokeWrap .strokeWrap__stroke_first,
.burgerInput:checked + .strokeWrap .strokeWrap__stroke_third {
  --length: 22.627416998;
  --offset: -94.1149185097;
}
.burgerInput:checked + .strokeWrap .strokeWrap__stroke_second {
  --length: 0;
  --offset: -50;
}

/* Footer Nav */

.footer__nav .container {
	margin-top: 4rem;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	gap: 1rem;
}
.footer__nav h3 {
	font-family: var(--taller);
	font-size: 8rem;
	text-transform: uppercase;
	color: var(--white-color);
	padding: 2rem 2rem;
	margin-left: 4rem;
	position: relative;
}
.footer__nav .title:after {
	content:'';
    display: inline-block;
	width: 80%;
	height: 1px;
	background: #fff;
}
.footer__nav .section__foot {
	width: 300px;
	height: 300px;
	position: relative;
	margin-bottom: 4rem
}
.footer__nav .section__foot h4 {
	font-family: var(--mixal);
	font-size: 4rem;
	color: var(--white-color);
	position: relative;
}

.footer__nav .section__foot h4:after {
   content:'';
	display: block;
	width: 150px;
	height: 150px;
    position: absolute;
	top: 120%;
	left: 20%;
	right: auto;
	background: repeating-linear-gradient(
		45deg,
      black,
      black 10px,
      white 10px,
      white 20px 
		
) 
0 0 no-repeat;
}
.footer__nav .section__foot+ .section__foot h4:after {
	background: repeating-radial-gradient(
		circle at 50% 0,
      black,
      black 10px,
      white 10px,
      white 20px 
		
) 0 0 no-repeat;
}
.footer__nav .section__foot+ .section__foot+ .section__foot h4:after {
	background: repeating-linear-gradient(
		135deg,
      black,
      black 10px,
      white 10px,
      white 20px 
		
) 0 0 no-repeat;
}
.footer__nav .section__foot .thumb {
	width: 200px;
	height: 300px;
	position: absolute;
	top:0;
	left:100px;
	bottom:0;
	right:0;
    background: purple;
	border-radius: 0 25px 0 0
}


.footer__nav .section__foot+ .section__foot .thumb {
	background: #ffb;
}

.footer__nav .section__foot+ .section__foot+ .section__foot .thumb {
	background: #ffe;
}
.footer__nav .section__foot .thumbnail {
    float: right;
	margin: 0 auto;
    display: block;
	width: 50px;
	height: 50px;
    border-radius: 100%;
	object-fit: cover;
}

.footer__nav .section__foot .snippet {
	font-family: var(--roboto);
	border-radius: 10px;
	background: var(--black-color);
	min-height: 240px;
	padding: 2rem;
	text-align: left;
	mix-blend-mode: difference;
}

.footer__nav .section__foot p {
	color: var(--white-color);
	writing-mode: vertical-lr;
	
}
.footer__comments {
	diplay: block;
	margin: auto;
	max-width: 100%;
}
.footer__comments .container {
	margin-top: 4rem;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	gap: 1rem;
}
.footer__comments h3 {
	font-family: var(--taller);
	font-size: 8rem;
	text-transform: uppercase;
	color: var(--white-color);
	padding: 2rem 2rem;
	margin-left: 4rem;
	position: relative;
}
.footer__comments .title:after {
	content:'';
    display: inline-block;
	width: 70%;
	height: 1px;
	background: #fff;
}

/* ------ FOOTER ------- */

.krdsah__footer {
	
}
.krdsah__footer .container {
	color: var(--white-color);
    font-family: var(--roboto);
	text-align: center;
	padding: 2rem 1rem;
}


/* ---- Media query ---- */

@media only screen and (min-width: 320px) and (max-width: 620px) {
.myText .text-wrapper{
 height: 200px;
}
 .myText .letter {
 font-size: 5rem;
 line-height: 5rem;
}
.main__header .flex-nav ul{
 display: flex;
 padding: 1rem .60rem;
}
.main__header .flex-nav ul li {
		font-size: 1rem;
}
.ez__lock {
	margin-left: 2rem;
	margin-top: 6rem;
}
.ez__lock .locks {
	font-size: 4rem;
	top: 0;
}
.ez__lock .locks:nth-child(odd) {
	top: 10px;
	left: 4rem
}
.main__header .flex-nav ul li{
  display: inline-block;
  margin-top:8px;
  margin-right:8px;
  padding: 0 1rem 0 0;
  font-family: var(--fjalla)
}
.my__intro {
	margin-bottom: 8rem;
    padding-bottom: 1rem;
}
.my__intro h2.title{
	white-space: nowrap;
	padding-top: 1rem;
	padding-left: 1.8rem;
}
.my__intro .font__change{
    font-size: 150px;
}

.popupMenu__link {
  font-size: 4rem;
  margin-bottom: 0px;
}
.section__intro:nth-child(even){
	padding: 0rem 0rem 0rem 2rem;
	text-align: left
}

.section__intro{
	text-align: right;
	padding: 0rem 2rem 0rem 0rem;
}
.section__intro {
  width: 100%;
  padding: 0rem 2rem 0rem 0rem;
  height: 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0s linear;
}
.section__intro:nth-child(even){
	text-align: left;
}

.section__intro:nth-child(even) .thumb{
  position: absolute;
  top: 0;
  left: auto;
  right:1rem;
}
.section__intro:nth-child(even) .thumb .thumbnail{
  width: 190px;
  height:190px;
}
.section__intro:nth-child(even) .thumb:after, .section__intro .thumb:after{
  width: 300px;
  height:300px;
  opacity: 0.2
}

.section__intro .thumb{
  position: absolute;
  top: 0;
  left:1rem;
  z-index: -2;
}
.section__intro .thumb .thumbnail{
  width: 190px;
  height: 190px;
}
.section__intro h2 {
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: 50px;
  letter-spacing: 1px;
  color: #fff
}
.section__intro p {
	margin-top: 2rem;
	mix-blend-mode: difference;
	font-family: var(--fjalla);
	color: var(--white-color);
}

.footer__nav h3 {
	font-family: var(--taller);
	font-size: 4rem;
	color: var(--white-color);
	padding: 2rem 2rem 1rem;
}
.footer__nav .section__foot h4{
	font-family: var(--mixal);
	font-size: 2.5rem;
	color: var(--white-color);
	padding: 2rem 2rem 1rem;
}
.footer__nav .title:after {
	content:'';
    display: inline-block;
	width: 35%;
	height: 15px
	
}
.footer__nav .section__foot {
	margin-bottom: 8rem;
	width: 300px;
	height: 300px;
}
.footer__nav .section__foot .thumb {
	width: 200px;
	height: 300px;
}
.footer__nav .section__foot p {
	font-size: 12px;
}
.footer__nav .section__foot h4:after {
   content:'';
	display: block;
	width: 120px;
	height: 120px;
    
}
}

@media only screen and (min-width:640px) and (max-width: 980px){
.main__header .flex-nav ul{
 display: flex;
 padding: 1rem .60rem;
}
.main__header .flex-nav ul li {
		font-size: 1rem;
}
.ez__lock {
	margin-left: 2rem;
	margin-top: 6rem;
}

.ez__lock .locks {
	font-size: 6rem;
	top: 0;
}
.ez__lock .locks:nth-child(odd) {
	top: 10px;
	left: 4rem
}
.ez__background {
	filter: blur(1px);
    background-size: contain;
	background-position: 100% 50%;
}
.main__header .flex-nav ul li{
  display: inline-block;
  margin-right:8px;
  padding: 0 1rem 0 0;
  font-family: var(--fjalla);
}
.my__intro {
	margin-bottom: 8rem;
    padding-bottom: 1rem;
	
}
.my__intro h2.title{
	white-space: nowrap;
	padding-top: 1rem;
	padding-left: 1.8rem;
}

.my__intro .font__change{
	cursor: pointer;
    font-size: 250px;
}
.my__intro .font__change:after{
	cursor: pointer;
	font-size: 18px;
	display: block;
	margin-right: 6rem;
	margin-left: 0rem;
    margin-top: .50rem;
    text-align: right;
	border-top: 5px solid #fff;
}
.my__intro .snippet+.snippet {
	text-align: right;
	float: right;
}
.my__intro .font__change{
	font-size: 120px;
}
.popupMenu__link {
  font-size: 8rem;
  margin-bottom: 0px;
}
.section__intro:nth-child(even){
	padding: 0rem 0rem 0rem 2rem;
	text-align: left
}
.section__intro{
	text-align: right;
	padding: 0rem 2rem 0rem 0rem;
}
.section__intro {
  width: 100%;
  padding: 0rem 2rem 0rem 0rem;
  height: 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0s linear;
}
.section__intro:nth-child(even){
	text-align: left;
}

.section__intro:nth-child(even) .thumb{
  position: absolute;
  top: 0;
  left: auto;
  right:1rem;
}

.section__intro:nth-child(even) .thumb .thumbnail{
  width: 300px;
  height:300px;
}

.section__intro .thumb{
  position: absolute;
  top: 0;
  left:1rem;
}
.section__intro .thumb .thumbnail{
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.section__intro h2 {
  padding-top: 0rem;
  margin-top: 0rem;
  font-size: 150px;
  letter-spacing: 1px;
  color: #fff
}
.section__intro p {
	margin-top: 2rem;
	mix-blend-mode: difference;
	font-family: var(--fjalla);
	color: var(--white-color);
}

.footer__nav h3 {
	font-family: var(--taller);
	font-size: 8rem;
	color: var(--white-color);
	padding: 2rem 0 1rem 3rem;
}
.footer__nav .section__foot h4{
	font-family: var(--mixal);
	font-size: 4rem;
	color: var(--white-color);
	padding: 2rem 0 1rem 3rem;
}
.footer__nav .title:after {
	content:'';
    display: inline-block;
	width: 45%;
	
}

.footer__nav .section__foot {
	margin-bottom: 4rem;
	width: 300px;
	height: 300px;
}
.footer__nav .section__foot .thumb {
	width: 200px;
	height: 300px;
}
.footer__nav .section__foot p {
	font-size: 12px;
}
.footer__nav .section__foot h4:after {
   content:'';
	display: block;
	width: 120px;
	height: 120px;
    
}
}

